Repository bharath-rjendran/Azure-Terraform: changes, and which Atlantis projects are due for each by the changed paths.
All: dev, test, prod

dev:
  dir: .
  workspace: dev
  terraform_version: v1.5.7
  workflow: dev

test:
  dir: .
  workspace: test
  terraform_version: v1.5.7
  workflow: test

prod:
  dir: .
  workspace: prod
  terraform_version: v1.5.7
  workflow: prod

remove uneccsary files
  environments/dev copy.tfvars
  environments/prod copy.tfvars
  environments/test copy.tfvars
Due: none

Update terraform-drift-test.yml
  .github/workflows/terraform-drift-test.yml
Due: none

Update test.tfvars
  environments/test.tfvars
Due: test

Update terraform-drift-prod.yml
  .github/workflows/terraform-drift-prod.yml
Due: none

Update terraform-drift-dev.yml
  .github/workflows/terraform-drift-dev.yml
Due: none

Update dev.tfvars
  environments/dev.tfvars
Due: dev

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Update codeql.yml
  .github/workflows/codeql.yml
Due: none

Path conditions:
  dev: any of: *.tf, modules/**/*.tf, environments/dev.tfvars, backend/backend-dev.tfbackend
  test: any of: *.tf, modules/**/*.tf, environments/test.tfvars, backend/backend-test.tfbackend
  prod: any of: *.tf, modules/**/*.tf, environments/prod.tfvars, backend/backend-prod.tfbackend
